body{
	color:burlywood;
	padding: 0;
	margin: 10px auto;
}
#lay{
	border: 1px solid deepskyblue;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
section{
	border: 1px solid deepskyblue;
}
aside{
	width: 150px;
	border: 1px solid deepskyblue;
	min-height: 500px;
	color:blueviolet;
	float:left;
}
main{
	border: 1px solid deepskyblue; 
	min-height: 500px;
	color:blueviolet;}
ul{
	display: inline;
	margin-left: auto;
	margin-right: auto;
}
li{
	display: block;
}
.san li{
	margin: 0;	
	border: 1px solid deepskyblue;
	width: 19%;
	float: left;
}
li a:link{
	color: black;
}
li a:visited{
	color: mediumturquoise;
}
li a:hover{
	color: moccasin;
}
li a:active{
	color: slateblue;
}